{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="background"></div>
    <div class="loginDiv jumbotron">
        <h2 class="login-title">Login</h2>
        <form class="loginForm" method="post">
            <div class="form-group row">
                <label class="form-cell col-sm-12">
                    <input type="text" class="form-control " id="id_username" name="username" placeholder=" ">
                    <span class="placeholder">Username</span>
                </label>
            </div>
            
            <div class="form-group row">
                <label class="form-cell col-sm-12">
                    <input type="password" class="form-control" id="id_password" name="password" placeholder=" ">
                    <span class="placeholder">Senha</span>
                </label>
            </div>

            {% csrf_token %}

            <div class="btnLogin d-flex justify-content-center">
                <input class="btn btn-success" type="submit" value="Entrar">
            </div>
            <a href="/login/signup/">Cadastro</a>        
        </form>
    </div>
{% endblock %}