{% extends 'home-base.html' %}

{% block title %}User Cards{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <!-- Page Content -->
  <div class="container page-top">
    <div class="row">
      {% for i in "x"|rjust:"10" %}
        <div class="col-lg-6 col-md-6 col-xs-12 thumb">
            <div class="card">
                <div class="additional">
                  <div class="user-card">
                    <img src="../../static/css/imgs/default_profile_picture.jpg" height="100" width="100" class="center">
                  </div>
                  <div class="more-info">
                    <h1>Jane Doe</h1>
                    <div class="birthday">
                      <i class="fa fa-birthday-cake"></i>
                      <span>01/01/1990</span>
                    </div>
                    <div class="email">
                      <i class="fa fa-envelope"></i>
                      <span>generic@mail.com</span>
                    </div>
                    <div class="phone">
                      <i class="fa fa-phone"></i>
                      <span>97070-7070</span>
                    </div>
                  </div>
                </div>
                <div class="general">
                  <h1>Jane Doe</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                  <span class="more">Mouse over the card for more info</span>
                </div>
            </div>
        </div>
      {% endfor %}
   </div>
</div>
{% else %}
<div class="background"></div>
<div class="loginDiv jumbotron">
    <h2 class="login-title">Por favor faça o login para continuar</h2>
    <a href="{% url 'login' %}">Log In</a>
</div> 
{% endif %}
{% endblock %}