{% extends 'home-base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <!-- Page Content -->
  <div class="container page-top">
    <div class="row">
      {% for card in cards %}
      <a href="{% url 'card' card.id %}">
        <div class="col-lg-12 col-md-12 col-xs-12 thumb d-flex justify-content-center unique-card">
            <div class="card">
                <div class="additional">
                  <div class="user-card">
                    <img src="../media/{{card.profile_image}}" height="100" width="100" class="center profile-image">
                  </div>
                  <div class="more-info">
                    <h1>{{ card.name }}</h1>
                    <div class="birthday">
                      <i class="fa fa-birthday-cake"></i>
                      <span>{{ card.birthday }}</span>
                    </div>
                    <div class="email">
                      <i class="fa fa-envelope"></i>
                      <span>{{ card.contact_email }}</span>
                    </div>
                    <div class="phone">
                      <i class="fa fa-phone"></i>
                      <span>{{ card.contact_phone }}</span>
                    </div>
                  </div>
                </div>
                <div class="general">
                  <h1>{{ card.name }}</h1>
                  <p>{{ card.description }}</p>
                  <span class="more">Mouse over the card for more info</span>
                </div>
            </div>
        </div>
      </a>
      {% endfor %}
   </div>
</div>
{% else %}
<div class="background"></div>
<div class="loginDiv jumbotron">
    <h2 class="login-title">Por favor faça o login para continuar</h2>
    <a href="{% url 'login' %}">Log In</a>
</div> 
{% endif %}
{% endblock %}